# Intervalo entre execuções (segundos)
INTERVAL=300

# Caminho dos logs (dentro do container)
LOG_DIR=/app/data/logs

# Lista de servidores iPerf3 (separados por vírgula)
IPERF_SERVERS=iperf.he.net,iperf.ovh.net,ping.online.net