# Intervalo entre rodadas de teste (em segundos)
INTERVAL=300

# Diretório de logs dentro do container (montado via volume)
LOG_DIR=/app/data/logs

# Lista de servidores iPerf3 separados por vírgula
IPERF_SERVERS=iperf-ams-nl.eranium.net,lon.speedtest.clouvider.net,speedtest.uztelecom.uz

# (Opcional) Configurações do dashboard
# MPLCONFIGDIR=/tmp/matplotlib