# Intervalo entre execuções (segundos)
INTERVAL=300

# Caminho dos logs (dentro do container)
LOG_DIR=/data/logs

# Lista de servidores iPerf3 (separados por vírgula)
IPERF_SERVERS=iperf-ams-nl.eranium.net,lon.speedtest.clouvider.net,speedtest.uztelecom.uz
